@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto:wght@400;900&display=swap');

html,body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	padding: 0.01px;
	font-family: 'Roboto', sans-serif;
}

.main-wrap{
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;

	
}
header{
	min-height: 30vh;
	display: flex;
	flex-direction: column;
	align-items: center;

}
header h1{
	color: white;
}
.input{
	display: flex;
	height: 30px;
}
.input img{
/*	filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(322deg) brightness(101%) contrast(105%);
*/	width: 100%;
}
input:focus{
    outline: none;
}
.search-input{
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 0 5px;
	border: none;
	border-radius: 5px;
}

.button{
	height: 100%;
	width: 2.5rem;
	margin-left: -2rem;
	border: none;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 0 5px 5px 0;

}
.result-wrap{
	position: relative;
	display: flex;
	width: 100%;
	justify-content: center;

}
.result{
	max-width: 700px;
	width:	100%;
	display: flex;
	background-color: white;
	color: black;
	border-radius: 25px;
	position: absolute;
	padding: .5rem;
	justify-content: center;
	top: -60px;
	z-index: 9999;

}
.result-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	margin: 0;
	border-right: 3px solid black;
	padding: 1rem;
}
.result-item:last-child{
	border-right: none;
	padding-right: 0;

}
.result-item p{
	margin: .5rem;
}
.result-item p:last-child{
	font-weight: 800;
}
#map{
	height: 70vh;
	width: 100%;
}